body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font: 11px courier;
  overflow: hidden;
}
#graph-info {
  position: absolute;
  top: 0px;
  left: 40%;
  margin: 10px;
  padding: 5px 10px;
}

.user-name {
  color: white;
}
#options {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.guide {
  position: absolute;
  margin-top: 10px;
  right: 0;
  height: 100px;
  width: 200px;
}