<html>
<head>
	<title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	     <script src="js/Graph.js"></script>

       <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js"></script> -->

       <script src="webgl-frameworks/three.js"></script>
       <script src="webgl-frameworks/OrbitControls.js"></script>
       <script src="webgl-frameworks/FlyControls.js"></script>
       <script src="js/helvetiker_bold.typeface.js"></script>
       <script src="webgl-frameworks/easeljs-0.7.1.min.js"></script>
       <script src="webgl-frameworks/tweenjs-0.5.1.min.js"></script>
       <script src="webgl-frameworks/ease.js"></script>     
       <script src="utils/Label.js"></script>
       <script src="utils/ObjectSelection.js"></script>
       <script src="js/force-directed-layout.js"></script>
       <script src="js/sphere_graph.js"></script>
       <script src="js/config.js"></script>
       <script src="js/facebook/queryObjects.js"></script>
       <script src="js/facebook/facebookGraphAPI.js"></script>
       <script src="js/facebook/facebookQueries.js"></script>

  <!--  <script src="dist/globe.min.js"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/zoomIn.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="key">
              <p>Space: fly to a new friend</p>
              <p>W: see posts of current friend</p>
              <p>Enter: view photos of current friend</p>
            </div>
            <div class="bottom"></div>
            <div class="panel-wrapper"></div>
            <div id="graph-info"></div>
        </div>
    </div>
  <script src="js/client_rendering.js"></script>
</body>
</html>