<html>
<head>
	<title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/Graph.js"></script>
    <script type="text/javascript" src="webgl-frameworks/Three.js"></script>
    <script type="text/javascript" src="webgl-frameworks/OrbitControls.js"></script>
    <script type="text/javascript" src="webgl-frameworks/easeljs-0.7.1.min.js"></script>
    <script type="text/javascript" src="webgl-frameworks/tweenjs-0.5.1.min.js"></script>
    <script type="text/javascript" src="utils/Label.js"></script>
    <script type="text/javascript" src="utils/ObjectSelection.js"></script>
    <script type="text/javascript" src="js/force-directed-layout.js"></script>
    <script type="text/javascript" src="js/sphere_graph.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<script type="text/javascript">
      var createDrawing = function(){
        window.drawing = new Drawing.SphereGraph({numNodes: 50, showStats: true, showInfo: true});
      }
    </script>
    <body onload="createDrawing()">
    <script type="text/javascript">
    	$.get('/api/get-friends').then(function(response){
    		var friends = JSON.parse(response);
    		friends = friends.data;
    		setInterval(function(){
    			if(friends.length){
    				window.drawing.createGraph(friends.pop());
    			}
    		}, 500)
    	})
    </script>
</body>
</html>