<html>
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/Graph.js"></script>
    <script type="text/javascript" src="webgl-frameworks/Three.js"></script>
    <script type="text/javascript" src="webgl-frameworks/OrbitControls.js"></script>
    <script type="text/javascript" src="webgl-frameworks/easeljs-0.7.1.min.js"></script>
    <script type="text/javascript" src="webgl-frameworks/tweenjs-0.5.1.min.js"></script>
    <script type="text/javascript" src="webgl-frameworks/ease.js"></script>

    <!--<script type="text/javascript" src="js/ReusableRay.js"></script>-->
    <script src="js/facebook/queryObjects.js"></script>
    <script src="js/facebook/facebookGraphAPI.js"></script>
    <script src="js/facebook/facebookQueries.js"></script>
    <script type="text/javascript" src="/js/graph_space.js"></script>
    <script type="text/javascript" src="/js/simple_graph.js"></script>
    <script type="text/javascript" src="/js/client_rendering_simple.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <button class="btn btn-default btn-sm go">Go</button>
        <button class="btn btn-default btn-sm fly">Look Around</button>
        <button class="btn btn-default btn-sm mutual">Mutual Friends</button>
        <div class="row">
            <p class="info-header"></p>
        </div>
    </div>
    <script type="text/javascript">
    var createDrawing = function(){
        window.drawing = new Drawing.SimpleGraph({numNodes: 50, showStats: true, showInfo: true});
    }
    </script>
    <body onload="createDrawing()">
</body>
</html>