<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Facebook API WebGL Visualization">
  <meta name="keywords" content="WebGL, Threejs, Three.js, Facebook, Visualization">

  <title>Data Globe</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="js/helvetiker_bold.typeface.js"></script>
  <script src="js/config.js"></script>
  <script src="js/facebook/facebookGraphAPI.js"></script>
</head>
<body>
  <div class='row'>
    <h1 class='text-center'>Global Data</h1>
  </div>
  <div class='row center-block'>
    <div class='col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3'>
      <img id="globe-splash-image" src="/img/smallGlobe.png" alt="See Your World">
      <br>
      <fb:login-button
        scope="
          public_profile,
          user_friends,
          user_location,
          user_hometown,
          user_checkins,
          user_photos,
          friends_location,
          friends_hometown,
          friends_photos,
          friends_checkins
          read_friendlists,
          read_stream,
          user_status,
          friends_status"
        onlogin="checkLoginState();"> Login </fb:login-button>
      <div id="status"></div>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="lib/underscore/underscore-min.js"></script>
  <script src="lib/backbone/backbone.js"></script>
  <script src="js/backbone/AppView.js"></script>

  <script src="webgl-frameworks/three.js"></script>
  <script src="webgl-frameworks/OrbitControls.js"></script>
  <script src="webgl-frameworks/FlyControls.js"></script>
  <script src="webgl-frameworks/easeljs-0.7.1.min.js"></script>
  <script src="webgl-frameworks/tweenjs-0.5.1.min.js"></script>
  <script src="webgl-frameworks/ease.js"></script>
  <script src="utils/Label.js"></script>
  <script src="utils/ObjectSelection.js"></script>
  <script src="js/sphere_graph.js"></script>
  <script src="js/facebook/queryObjects.js"></script>
  <script src="js/facebook/facebookQueries.js"></script>
</body>
</html>
