<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Facebook API WebGL Visualization">
  <meta name="keywords" content="WebGL, Threejs, Three.js, Facebook, Visualization">

  <title>Data Globe</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="js/config.js"></script>

  <!-- build:js:dist //cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js -->
  <!-- grunt-processhtml reads these comments and replaces below with above cdn -->
  <script src="lib/jQuery/dist/jquery.js"></script>
  <!-- /build -->

  <!-- build:js:dist //cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js -->
  <!-- grunt-processhtml reads these comments and replaces below with above cdn -->
  <script src="lib/underscore/underscore-min.js"></script>
  <!-- /build -->

  <!-- build:js:dist //cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js -->
  <!-- grunt-processhtml reads these comments and replaces below with above cdn -->
  <script src="lib/backbone/backbone.js"></script>
  <!-- /build -->

  <!-- build:js:dist dist/appBackbone.js -->
  <!-- grunt-processhtml reads these comments and replaces below with above cdn -->
  <script src="js/backbone/LoginModel.js"></script>
  <script src="js/backbone/AppView.js"></script>
  <!-- /build -->

</head>
<body>
  <script type="text/javascript">
    // backbone.js
    var login = new LoginModel();
    var appView = new AppView({model: login});
  </script>
  <div class="loginView">
    <div class='row'>
      <h1 class='text-center'>Global Data</h1>
    </div>
    <div class='row center-block'>
      <div class='col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3'>
        <img id="globe-splash-image" src="/img/smallGlobe.png" alt="See Your World">
        <br>
        <fb:login-button
          scope="
            public_profile,
            user_friends,
            user_location,
            user_hometown,
            user_checkins,
            user_photos,
            friends_location,
            friends_hometown,
            friends_photos,
            friends_checkins
            read_friendlists,
            read_stream,
            user_status,
            friends_status"
          onlogin="checkLoginState();"> Login </fb:login-button>
        <div id="status"></div>
      </div>
    </div>
  </div>

  <!-- build:js:dist dist/index.min.js -->
  <!-- grunt-processhtml reads these comments and replaces below with above cdn -->
  <script type="text/javascript" src="js/facebook/facebookGraphAPI.js"></script>
  <script type="text/javascript" src="webgl-frameworks/three.js"></script>
  <script src="js/helvetiker_bold.typeface.js"></script>
  <script type="text/javascript" src="webgl-frameworks/OrbitControls.js"></script>
  <script type="text/javascript" src="webgl-frameworks/FlyControls.js"></script>
  <script type="text/javascript" src="webgl-frameworks/easeljs-0.7.1.min.js"></script>
  <script type="text/javascript" src="webgl-frameworks/tweenjs-0.5.1.min.js"></script>
  <script type="text/javascript" src="webgl-frameworks/ease.js"></script>

  <!--import firefox vr scripts-->
  <script type="text/javascript" src="lib/oculus/VRControls.js"></script>
  <script type="text/javascript" src="lib/oculus/VREffect.js"></script>
  <script type="text/javascript" src="lib/oculus/DeviceOrientationControls.js"></script>
  <script type="text/javascript" src="lib/oculus/StereoEffect.js"></script>
  <script type="text/javascript" src="lib/oculus/vrclient.js"></script>
  <!--end firefox vr scripts-->


  <script type="text/javascript" src="utils/Label.js"></script>
  <script type="text/javascript" src="utils/ObjectSelection.js"></script>
  <script type="text/javascript" src="utils/stopWords.js"></script>
  <script type="text/javascript" src="lib/dat.gui.min.js"></script>
  <script type="text/javascript" src="js/Graph.js"></script>
  <script type="text/javascript" src="js/graph_actions.js"></script>
  <script type="text/javascript" src="js/sphere_graph.js"></script>
  <script type="text/javascript" src="js/client_rendering.js"></script>

  <!--leap libraries-->
  <script type="text/javascript" src="lib/leapjs/leap-0.6.3.min.js"></script>
  <script type="text/javascript" src="lib/leapjs/leap-plugins-0.1.9.min.js"></script>
  <script type="text/javascript" src="lib/leapjs/leap.rigged-hand-0.1.3.min.js"></script>
  <!--end leap libraries-->

  <script type="text/javascript" src="js/facebook/queryObjects.js"></script>
  <script type="text/javascript" src="js/facebook/facebookQueries.js"></script>
  <!-- /build -->
</body>
</html>
