html, body {
  background-color: #000000;
}

button.btn {
  background-color: #f0f0f6;
}

.name-label {
  font-size: 100px;
  font-family: 'Alegreya SC', serif;
}

.container {
  width: 98%;
  position: absolute;
}

.panel-wrapper {
  position: absolute;
  right: 0;
  width: 20%;
}

.info-img {
  position: relative;
  height: 30%;
  width: 95%;
}

#globe-splash-image {
  display: block;
  margin: auto;
}

.key {
  position: absolute;
  margin-top: 8px;
  left: 0;
}
.key p {
  color: white;
}
.bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

.bottom p {
  color: white;
}

